body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.page-btn {
  width: 150px;
  margin: 50px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  font-size: larger;
  border-radius: 50%;
}
.ticket-img {
  width: 350px;
}
.bg-logo {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("./images/Logo.png");
  width: 200px;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bg-logo h4 {
  background-color: black;
  width: max-content;
  color: azure;
  padding: 20px 0px;
}
.bg-cinema {
  background-size: cover;
  background-repeat: repeat-x;
  background-image: url("./images/Capture.PNG");
  background-position: -500px;

  animation: cinema 180s infinite;
  height: 400px;
}
@keyframes cinema {
  0% {
    background-position: 500px;
  }
  
  100% {
    background-position: 6500px;
  }
}
.w-150px{
  width: 150px;
}
.h-mc{
  height: max-content;
}
.httprequest{
  color: #9e9e9e !important;
  font-weight: bold;
  cursor: pointer;
  margin-left:25px;
  width: max-content;
}
.httprequest:hover{
  color: #0d6efd !important;

}
.alert-danger{
  background-color: #f8d7da63 !important;
}
.InProgress,.Done{
  display: flex;
  justify-content: center;
  color: #607D8B;
  font-weight: bold;
}
.Done{
  background-color: lightgreen;

}
.InProgress{
  background-color: #c6e4fc;

}