body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.page-btn {
  width: 180px;
  margin: 50px;
  margin-top: 50px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  border-radius: 0px;
  font-size: larger;
}
.ticket-img {
  width: 350px;
}
.bg-logo {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("./images/Logo.png");
  width: 200px;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bg-logo h4 {
  background-color: black;
  width: max-content;
  color: azure;
  padding: 20px 10px;
}
.bg-cinema {
  background-size: cover;
  background-repeat: repeat-x;
  background-image: url("./images/Capture.PNG");
  background-position: -500px;
  animation: cinema 180s infinite;
  height: 50%
}
.stop{
  animation: none ;
  background-position: center;
  background-size: contain;

}
.move{
  animation: cinema 180s infinite;
  background-size: contain;
}
.text-darkRed{
  color: #491f23;
}
.bg-black{
  background-color: black;
}
@keyframes cinema {
  0% {
    background-position: 500px;
  }
  
  100% {
    background-position: 6500px;
  }
}
.w-150px{
  width: 150px;
}
.h-mc{
  height: max-content;
}
.httprequest{
  color: #9e9e9e !important;
  cursor: pointer;
  margin-left:25px;
  font-size: .875em;
  max-width: max-content;
}
.httprequest:hover{
  color: #945058 !important;

}
.alert-danger{
  background-color: #f8d7da63 !important;
}
.InProgress,.Done{
  display: flex;
  justify-content: center;
  color: #607D8B;
  font-weight: bold;
}
.Done{
  background-color: lightgreen;

}
.InProgress{
  background-color: #c6e4fc;

}
.btn-warning{
  color: white;
  background-color: #c69500;
  border-color: #c69500;
}
.btn-warning:hover{
  background-color:#9f7903;
  border-color:#9f7903;
  color: white;
}
.btn-outline-warning{
  color: #c69500;
}
.btn-secondary{
  background-color: greenyellow;
}
.hover-light:hover{
  background-color: rgb(253, 250, 250) !important;
  color: inherit !important;
}
.h-100vh{
  height: 100vh;
}
.opacity-97{
  opacity: 97%;
}
.btn-hidden{
  visibility: hidden;
  height: 0px;
  margin-top: 0px;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #212529; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #230e10; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #491f23; 
}
dt{
  color: #6f2930;
}
dd{
  font-size: .9em;
}
.bg-red{
  background-color: #230e10;
}
form{
  background-color: #212125;
}
.form-control{
  border-color: #230e10;
  background-color: #28282c;
  box-shadow: -4px 8px 0 .25rem rgb(35 14 16 / 15%)
}
.form-control:focus{
  border-color: #f6f6f614;
  box-shadow: 0 0 0 .25rem rgb(35 14 16 / 15%);
  background-color: #28282c;
}

.btn-primary{
  background-color: #230e10;
  border-color: #230e10;
}
.btn-primary:hover{
  background-color: #491f23;
  border-color: #491f23;
}
.btn-primary:active{
  background-color: #491f23 !important;
  border-color: #491f23 !important;
}
.btn-primary:disabled{
  background-color: #230e1044;
  border-color: #230e1044;
}
.opcity0-1{
  animation: H2v 1.5s ;
}

@keyframes H2v {
  0% {
    opacity: 0;
  }
  
  100% {
    opacity: 1;
  }
}